---
layout: page
title: Categories
permalink: /categories/
---

{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
  <li><a name="{{ category | first }}">{{ category | first }}</a>
    <ol>
    {% for posts in category %}
      {% assign sorted_posts = sorted_posts | sort %}
      {% for post in sorted_posts %}
        {% if post.title %}<li><a href="{{ post.url }}">{{ post.title }}</a></li>{% endif %}
      {% endfor %}
    {% endfor %}
    </ol>
  </li>
{% endfor %}
