<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endif %}">

  <link rel="stylesheet" href="{{ "/bower_components/bootstrap/dist/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">

  <script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<script>
    window.is_local = window.location.host == "localhost:4000";
    if (is_local) {
        console.log("[local model] Google Analysis is disabled");
    };
	</script>

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "headline": "mvj3.com",
    "url": "http://mvj3.com",
    "thumbnailUrl": "http://mvj3.com/images/mvj3/mvj3_wear_sungclasses_20150526.jpg",
    "dateCreated": "2013-10-24T15:41:01Z",
    "articleSection": "Programming",
    "creator": "David Chen",
    "keywords": ["programming", "Python", "Ruby", "luiti"]
  }
  </script>
</head>
