/* default */
body { background: #CECEC6; font-family: Lucida Grande; }
a, a:visited, a:hover { text-decoration: none; }
a, a:visited { color: #4E0E04; font-family: Lucida Grande; }
a:hover { color: red; }
.centor {
  font-size: 19px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  clear: both;
}

#header {
  padding-left: 130px;
  padding-bottom: 30px;
  width: 700px;
}
#logo {
  float: left;
}
#logo a {
  color: red;
  font-size: 60px;
  font-style: bold;
  text-decoration: none;
  letter-spacing: -12px;
}
#profile {
  float: right;
  margin-top: -60px;
}
#profile a {
  font-size: 15px;
  padding: 15px;
}

.index .title {
  padding-left: 99px;
  margin-left: 99px;
}

.title {
  font-style: bold;
}

#main {
  margin-top: 100px;
  text-align: left;
}

#main p, #main div {
  font-size: 14px;
}

#footer {
  padding-top: 66px;
}
